body {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

body>section>header {
    background-image: url(".././images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 3em;
    color: white;
}

nav {
    margin: 0;
    background-color: #525151;
    color: black;
    padding-bottom: 0.3em;
}

nav a:before, nav a:active, nav a {
    color: limegreen;
    text-decoration: none;
    font-weight: bold;

}

article {
    background-color: lightgrey;
    margin: 5px;
    padding: 5px;
    /*margin-top: 0;*/
    /*margin-bottom: 0.2em;*/
}

section>article>header>h1 {
    text-decoration: underline;
    font-size: 2em;
    color: #525151;
    padding: 10px;
    margin-top: 0.2em;

}
