.picture {
    display: inline-block;
    padding-left: 2em;
    background-image: url("../images/hyperlink.jpg");
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: left center;
}
p {
    display: inline-block;
}