h1 {
    color: white;
}
    body {
        margin: 0px;
        background-color: #EDF2F4;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    header h1 {
        margin: 0px;
        color: white;
    }

    header {
        height: 800px;
        background-image: url("../image/Amenra.jpg");
        background-repeat: no-repeat;
        background-color: #FFFFFF;
        background-size: cover;
    }
